[submodule "external/hnswlib"]
	path = external/hnswlib
	url = https://github.com/nmslib/hnswlib.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw/
[submodule "python-wrapper/pybind11"]
	path = SpidrWrapper/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
